{% extends "_layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Log In or Sign Up" %}</h1>



<p>{% blocktrans with site.name as site_name %}To use this site, you will need to have a Battle.Net account.<br>Please sign in with your Battle.Net Account below.{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>

{% endblock %}

