{% extends '_layout.html' %}

{% block title %}
Details for {% for guild_info in guild_info %} {{ guild_info.guild_name }} {% endfor %}
{% endblock %}

{% block content %}
{% for guild_info in guild_info %}
    Delete this guild => <a href="{% url 'delete-guild' guild_info.id %}">Delete {{ guild_info.guild_name }} - {{ guild_info.guild_realm }} - {{ guild_info.guild_faction }}</a><= This happens immediately.
    <br>
    <a href="{% url 'update-guild-profile' guild_info.id %}">Update Guild Details</a>
    <br>
    {{ guild_info.guild_name }}
    <br>
    {{ guild_info.guild_realm }}
    <br>
    {{ guild_info.guild_faction }}
    <br>
    {{ guild_info.guild_created_by }}
    <br>
    {{ guild_info.guild_information }}
    <br>
    {{ guild_info.guild_battlenet_website }}
    <br>
    {{ guild_info.guild_external_website }}
    <br>
    {{ guild_info.guild_wow_progress_link }}
    <br>
    {{ guild_info.guild_warcraft_logs_link }}
    <br>
    {{ guild_info.guild_world_of_logs_link }}
    <br>
    {{ guild_info.create_date }}
    <br>
    {{ guild_info.last_updated }}
    <br>
    Active Guild: {{ guild_info.is_active }}
    <br>
    Recruiting: {{ guild_info.is_recruiting }}
    <br>
    Recruitment Posts:
        {% for rcp in guild_info.recruitmentposts_set.all %}
            {% if rcp.is_post_active %}
                <p><a href="{% url 'recruitment-post' rcp.pk %}">{{ rcp.recruitment_title }}</a></p>
            {% else %}
                <p>Not recruiting at this time.</p>
            {% endif %}
        {% endfor %}
{% endfor %}
{% endblock %}



