{% extends '_layout.html' %}

{% block title %}
Details for {{ object.recruitment_title }}
{% endblock %}

{% block content %}
    <a href="{% url 'update-recruitment-post' object.id %}">Update Recruitment Post</a>
    <br>
    <a href="{% url 'guild-detail' object.guild_name.pk %}">{{ object.guild_name }}</a>
    <br>
    {{ object.guild_faction }}
    <br>
    {{ object.recruiting_levels }}
    <br>
    Recruiting Classes: {% for x in object.recruiting_classes.all %} {{ x }} {% endfor %}
    <br>
    {{ object.recruitment_title }}
    <br>
    {{ object.recruitment_post }}
    <br>
    {{ object.is_post_active }}

{% endblock %}



