{% extends '_layout.html' %}
{% load humanize %}

{% block title %}
    Update Guild Profile - {{ guild_profile_object.guild_name }}
{% endblock %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      Updating: {{ guild_profile_object.guild_name }} - {{ guild_profile_object.guild_realm }}
      <form method="post">
        {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
{% endblock %}

