{% extends '_layout.html' %}
{% load humanize %}

{% block title %}
    Welcome to Looking For Guild!
{% endblock %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-8">
        {% for news_item in news_blog %}
            <h2>{{ news_item.news_title }}</h2>
            <p>{{ news_item.news_author.get_full_name }} ({{ news_item.news_author }})</p>
            <p>{{ news_item.news_creation_date|naturaltime }}</p>
            <p>{{ news_item.news_content }}</p>
        {% endfor %}
    </div>
    <div class="col-md-4">
      <h2>Player Spotlight</h2>
        {% if player_spotlight %}
        <p><a href="{% url 'character-details' player_spotlight.character_realm player_spotlight.character_name %}"><img src="{{ website_settings.wow_api_character_image_base_url }}{{ player_spotlight.character_profile_inset_url }}"></a></p>
            <table>
                <tr>
                    <th>Character Name</th>
                    <td>{{ player_spotlight.character_name }}</td>
                </tr>
                <tr>
                    <th>Character Class</th>
                    <td>{{ player_spotlight.character_class }}</td>
                </tr>
                <tr>
                    <th>Character Role</th>
                    <td>{% if player_spotlight.main_role != "NO_ROLE_SELECTED" %}{{ player_spotlight.get_main_role_display }}{% else %} No Role Selected{% endif %}</td>
                </tr>
                <tr>
                    <th>Character iLevel</th>
                    <td>{{ player_spotlight.equipped_ilevel }}/{{ player_spotlight.max_ilevel }}</td>
                </tr>
                <tr>
                    <th>Character Realm</th>
                    <td>{{ player_spotlight.character_realm }}</td>
                </tr>
                <tr>
                    <th>Character Faction</th>
                    <td>{{ player_spotlight.character_faction }}</td>
                </tr>
            </table>
        {% else %}
            <p>Currently nobody is looking for a guild!</p>
        {% endif %}
   </div>
  </div>
{% endblock %}

