{% extends '_layout.html' %}
{% load humanize %}

{% block title %}
    Add Character - {{ user.username }}
{% endblock %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  FULL LIST: {{ account_characters }}
  <br>
  {% for item in account_characters %}
    <p> {{ item }} </p>
    {% endfor %}
  <br>
  DB TOONS: {{ db_toons }}
  <div class="row">
    <div class="col-md-12">
        <br>
        {% for value in account_characters.items %}
          {% for item in value %}
          <p><img src="{{ item.inset_image }}"></p>
            <p> {{ item.character_name }} </p>
            <p> {{ item.character_realm }} </p>
          {% endfor %}
        {% endfor %}
    </div>
  </div>
{% endblock %}

