{% extends '_layout.html' %}

{% block title %}
{{ user.username }} - My Profile
{% endblock %}

{% block content %}
<!--- My Profile --->
<h2>My Profile</h2>
{{ my_id.id }}
<h4><a href="{% url 'update-profile' my_profile.profile.id  %}">Update My Profile</a></h4>
<p> {% if my_profile.profile.battle_net_id %}{{ my_profile.profile.battle_net_id }}{% else %}Update your profile to set a BattleNet ID.{% endif %} </p>


<!--- Show Guilds I Own --->
<h2>My Guilds</h2>
{% for guild in my_guilds %}
  <p>{{ guild.guild_realm }} - {{ guild.guild_faction }} - <a href="{% url 'guild-detail' guild.id %}">{{ guild.guild_name }}</a> <a href="{% url 'add-recruitment-post' guild_pk=guild.pk %}">(Add Recruitment Post)</a></p>
{% endfor %}
<h3><a href="{% url 'add-guild' user.id %}">Add a new Guild</a></h3>

<!--- Show Characters I've Created --->
<h2>My Characters</h2>
{% for character in my_characters %}
  <p><img src="{{ website_settings.wow_api_character_image_base_url }}/{{ character.character_profile_inset_url }}">{{ character.character_link.character_realm }} - {{ character.character_faction}} - <a href="{% url 'character-details' character.character_link.id %}">{{ character.character_link.character_name }}</a></p>
{% endfor %}
<h3><a href="{% url 'add-character' user.id %}">Add a new Character</a></h3>

{% endblock %}
